{
    "openapi": "3.0.0",
    "info": {
        "title": "MOSAP3 Procurement API",
        "description": "Documentação oficial da API do Sistema de Procurement MOSAP3.\n * \n *      Roles:\n *      - **Admin**: Acesso total ao sistema.\n *      - **Procurement Technician**: Gestão de cotações e fornecedores.\n *      - **Public (Fornecedor)**: Acesso via token único enviado por email.",
        "contact": {
            "email": "admin@mosap3.ao"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://api.mosap3.yetuware.it.ao/",
            "description": "Servidor da API"
        }
    ],
    "paths": {
        "/api/acquisitions": {
            "get": {
                "tags": [
                    "Aquisições"
                ],
                "summary": "Listar Aquisições",
                "description": "Lista todas as aquisições com filtros.",
                "operationId": "0ff44b8f44f4865443d39ae08f05170a",
                "parameters": [
                    {
                        "name": "supplier_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de aquisições"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/suppliers/{id}/acquisitions": {
            "get": {
                "tags": [
                    "Aquisições"
                ],
                "summary": "Histórico de Aquisições do Fornecedor",
                "operationId": "60134e48e42b17ce73901dac3534c228",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Histórico do fornecedor"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/acquisitions/stats/products": {
            "get": {
                "tags": [
                    "Aquisições"
                ],
                "summary": "Produtos Mais Adquiridos",
                "description": "Retorna ranking de produtos mais comprados por quantidade ou valor total.",
                "operationId": "400fefbc74e2d90d21a553f0e3ec6b3f",
                "parameters": [
                    {
                        "name": "start_date",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ranking de produtos"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/acquisitions/{acquisition}/confirm-delivery": {
            "post": {
                "tags": [
                    "Aquisições"
                ],
                "summary": "Confirmar Entrega de Aquisição",
                "operationId": "a7bd400d9c8ec8dc35cf4ad0c4bf25cd",
                "parameters": [
                    {
                        "name": "acquisition",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Aquisição marcada como completa"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/acquisitions/{acquisition}": {
            "delete": {
                "tags": [
                    "Aquisições"
                ],
                "summary": "Remover aquisição ou solicitar exclusão",
                "description": "Admin remove diretamente (204). Não-admin cria pedido de exclusão pendente para aprovação (201).",
                "operationId": "f58c0a076f9f6d68dcdf1f55e5524c11",
                "parameters": [
                    {
                        "name": "acquisition",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "reason": {
                                        "description": "Motivo/justificativa (obrigatório para não-admin)",
                                        "type": "string",
                                        "example": "Aquisição cancelada"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Aquisição removida diretamente (admin)"
                    },
                    "201": {
                        "description": "Pedido de exclusão criado (não-admin)"
                    },
                    "409": {
                        "description": "Já existe um pedido pendente para esta aquisição"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/audit-logs": {
            "get": {
                "tags": [
                    "Auditoria"
                ],
                "summary": "Listar logs de auditoria",
                "description": "Retorna a lista paginada de logs de auditoria com filtros opcionais.",
                "operationId": "9e62b5f5a6a0c15d4ae6dd3932622142",
                "parameters": [
                    {
                        "name": "event",
                        "in": "query",
                        "description": "Filtrar por evento",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "Filtrar por utilizador",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "date_from",
                        "in": "query",
                        "description": "Data início (Y-m-d)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "description": "Data fim (Y-m-d)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Resultados por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de logs"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/audit-logs/{id}": {
            "get": {
                "tags": [
                    "Auditoria"
                ],
                "summary": "Detalhe do log de auditoria",
                "operationId": "0d6d7c056e441ba591f9ac48024e1c65",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Log encontrado"
                    },
                    "404": {
                        "description": "Não encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "Autenticação de usuário",
                "description": "Realiza login e retorna um token Sanctum.",
                "operationId": "a3b306d14572d1f4bd6c064b3233e7b8",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "admin@mosap3.ao"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login realizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "1|AbCdEf123..."
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "role": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação"
                    },
                    "403": {
                        "description": "Conta inativa"
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "Logout",
                "description": "Revoga o token atual do usuário. Requer autenticação.",
                "operationId": "fe8f3429cd6979b3b4517e186505f9f9",
                "responses": {
                    "200": {
                        "description": "Logout realizado com sucesso"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/categories": {
            "get": {
                "tags": [
                    "Categorias"
                ],
                "summary": "Listar categorias",
                "operationId": "3f5817a34833d0a1f4af4548dd3aeaba",
                "responses": {
                    "200": {
                        "description": "Lista de categorias",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "Material de Escritório"
                                            },
                                            "slug": {
                                                "type": "string",
                                                "example": "material-de-escritorio"
                                            },
                                            "description": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Categorias"
                ],
                "summary": "Criar categoria (Admin)",
                "operationId": "71fcad552bb0eaba9fb191fd8d8dcab0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Informática"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Equipamentos e acessórios de informática"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Categoria criada"
                    },
                    "422": {
                        "description": "Erro de validação"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/categories/{id}": {
            "put": {
                "tags": [
                    "Categorias"
                ],
                "summary": "Atualizar categoria (Admin)",
                "operationId": "0e686b2748211cc688333ed705dc111f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Material de Escritório Editado"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Categoria atualizada"
                    },
                    "422": {
                        "description": "Erro de validação"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Categorias"
                ],
                "summary": "Remover categoria (Admin)",
                "operationId": "4c12e22a7f8c617bd83bfa1fdc05428d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Categoria removida"
                    },
                    "404": {
                        "description": "Categoria não encontrada"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/dashboard": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Estatísticas do Sistema",
                "operationId": "f9ae6bf029fd5455620e57be01c3b831",
                "responses": {
                    "200": {
                        "description": "Dados do dashboard",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "counts": {
                                            "properties": {
                                                "active_quotations": {
                                                    "type": "integer"
                                                },
                                                "pending_reviews": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "recent_quotations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/deletion-requests": {
            "get": {
                "tags": [
                    "Pedidos de Exclusão"
                ],
                "summary": "Listar pedidos de exclusão",
                "operationId": "17a747d9473580b10acd0ab76d31d479",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtrar por status",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "approved",
                                "rejected"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de pedidos"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/deletion-requests/{id}": {
            "get": {
                "tags": [
                    "Pedidos de Exclusão"
                ],
                "summary": "Detalhes do pedido de exclusão",
                "operationId": "e8cce022bd379767b1dd3ca855f8e24d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalhes do pedido"
                    },
                    "404": {
                        "description": "Pedido não encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/deletion-requests/{id}/approve": {
            "post": {
                "tags": [
                    "Pedidos de Exclusão"
                ],
                "summary": "Aprovar exclusão",
                "description": "Aprova o pedido e remove definitivamente o registo do sistema.",
                "operationId": "82d445fe2e39487284cbd10f1403a63e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Exclusão aprovada e registo removido"
                    },
                    "400": {
                        "description": "Pedido já foi processado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/deletion-requests/{id}/reject": {
            "post": {
                "tags": [
                    "Pedidos de Exclusão"
                ],
                "summary": "Rejeitar exclusão",
                "description": "Rejeita o pedido de exclusão. O registo é mantido intacto.",
                "operationId": "50e04826094523e45f1d4a96a33cfd14",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "rejection_reason"
                                ],
                                "properties": {
                                    "rejection_reason": {
                                        "type": "string",
                                        "example": "Fornecedor com contratos ativos"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exclusão rejeitada, registo mantido"
                    },
                    "400": {
                        "description": "Pedido já foi processado"
                    },
                    "422": {
                        "description": "Erro de validação"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/suppliers/{id}/documents/{documentType}": {
            "get": {
                "tags": [
                    "Documentos"
                ],
                "summary": "Visualizar Documento do Fornecedor",
                "description": "Retorna o documento do fornecedor (PDF ou imagem). Tipos disponíveis: commercial_certificate (Certificado Comercial), commercial_license (Alvará Comercial), nif_proof (Comprovativo de NIF), pacto_social (Pacto Social), non_debtor_certificate_agt (Certificado de Não Devedor AGT), non_debtor_certificate_inss (Certificado de Não Devedor INSS)",
                "operationId": "319abccd8618971b60e8aa957f7a04d6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do fornecedor",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "documentType",
                        "in": "path",
                        "description": "Tipo de documento",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "commercial_certificate",
                                "commercial_license",
                                "nif_proof",
                                "pacto_social",
                                "non_debtor_certificate_agt",
                                "non_debtor_certificate_inss",
                                "product_list"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Documento retornado com sucesso",
                        "content": {
                            "application/pdf": {},
                            "image/jpeg": {},
                            "image/png": {}
                        }
                    },
                    "404": {
                        "description": "Documento não encontrado"
                    },
                    "401": {
                        "description": "Não autenticado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/quotation-responses/{id}/document": {
            "get": {
                "tags": [
                    "Documentos"
                ],
                "summary": "Visualizar Documento da Proposta",
                "description": "Retorna o documento da proposta enviado pelo fornecedor (PDF ou DOC)",
                "operationId": "1252255bcf11cf623ae77aae01c18205",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da resposta de cotação",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Documento retornado com sucesso",
                        "content": {
                            "application/pdf": {},
                            "application/msword": {},
                            "application/vnd.openxmlformats-officedocument.wordprocessingml.document": {}
                        }
                    },
                    "404": {
                        "description": "Documento não encontrado"
                    },
                    "401": {
                        "description": "Não autenticado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/supplier-evaluations": {
            "get": {
                "tags": [
                    "Avaliações de Fornecedores"
                ],
                "summary": "Listar Avaliações",
                "operationId": "60a139fb0f888c47de8651c9397f2d86",
                "parameters": [
                    {
                        "name": "sort_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "overall_score",
                                "success_rate"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de avaliações"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/notifications": {
            "get": {
                "tags": [
                    "Notificações"
                ],
                "summary": "Listar Notificações",
                "description": "Retorna lista paginada de notificações do usuário autenticado",
                "operationId": "911565ad9aff9ba7eded3f189509e578",
                "parameters": [
                    {
                        "name": "unread_only",
                        "in": "query",
                        "description": "Filtrar apenas não lidas",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filtrar por tipo",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Itens por página",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de notificações",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "data": {
                                                        "type": "object"
                                                    },
                                                    "read_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "nullable": true
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/notifications/unread-count": {
            "get": {
                "tags": [
                    "Notificações"
                ],
                "summary": "Contar Notificações Não Lidas",
                "operationId": "0272623bed30dd4d72141741fb3f25da",
                "responses": {
                    "200": {
                        "description": "Contagem de não lidas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "count": {
                                            "type": "integer",
                                            "example": 5
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/notifications/{id}": {
            "get": {
                "tags": [
                    "Notificações"
                ],
                "summary": "Detalhes da Notificação",
                "operationId": "f2edf725f41dd6c9a9338a6a7b39d779",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalhes da notificação"
                    },
                    "404": {
                        "description": "Notificação não encontrada"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Notificações"
                ],
                "summary": "Deletar Notificação",
                "operationId": "54c4eb5ec5dc0d1e2916cec2fced1056",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Notificação deletada"
                    },
                    "403": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/notifications/{id}/read": {
            "post": {
                "tags": [
                    "Notificações"
                ],
                "summary": "Marcar Notificação Como Lida",
                "operationId": "ccc13a8ee59dfc08e9b1f80e075ebfc1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Notificação marcada como lida"
                    },
                    "403": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/notifications/mark-all-read": {
            "post": {
                "tags": [
                    "Notificações"
                ],
                "summary": "Marcar Todas Como Lidas",
                "operationId": "e1e017838e0e1ed1cd321ccf80869335",
                "responses": {
                    "200": {
                        "description": "Todas as notificações foram marcadas como lidas"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products": {
            "get": {
                "tags": [
                    "Catálogo de Produtos"
                ],
                "summary": "Listar Produtos",
                "operationId": "1bfaa78d1c2c3848ab8165c5dadcad3e",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de produtos"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Catálogo de Produtos"
                ],
                "summary": "Criar Produto",
                "operationId": "e8185e307706e2cd84bbcf5171e2f09d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "unit"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "unit": {
                                        "type": "string"
                                    },
                                    "category_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Produto criado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/{id}/analytics": {
            "get": {
                "tags": [
                    "Catálogo de Produtos"
                ],
                "summary": "Análise de Preços do Produto",
                "description": "Retorna melhor preço, média e histórico de preços praticados.",
                "operationId": "1238d9156c14d2f7c5e18d5035bb0844",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dados de análise de preço"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/quotation/{token}": {
            "get": {
                "tags": [
                    "Link Público (Email)"
                ],
                "summary": "Visualizar Pedido",
                "description": "Permite ao fornecedor ver os detalhes do pedido usando o token do email.",
                "operationId": "1a0be3ebc240642b2acd82cb6028cb10",
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dados do pedido recuperados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "quotation_supplier": {
                                            "type": "object"
                                        },
                                        "existing_response": {
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/quotation/{token}/submit": {
            "post": {
                "tags": [
                    "Link Público (Email)"
                ],
                "summary": "Submeter Proposta",
                "operationId": "9d8886b8ca6faaa8060e828035a1339c",
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "delivery_date",
                                    "delivery_days",
                                    "payment_terms"
                                ],
                                "properties": {
                                    "delivery_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-02-15"
                                    },
                                    "delivery_days": {
                                        "type": "integer",
                                        "example": 15
                                    },
                                    "payment_terms": {
                                        "type": "string",
                                        "example": "50% na encomenda, 50% na entrega"
                                    },
                                    "observations": {
                                        "type": "string",
                                        "example": "Frete incluso"
                                    },
                                    "proposal_file": {
                                        "description": "Documento da proposta (PDF, DOC, DOCX - max 10MB)",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Proposta enviada com sucesso"
                    }
                }
            }
        },
        "/api/quotation/{token}/decline": {
            "post": {
                "tags": [
                    "Link Público (Email)"
                ],
                "summary": "Declinar Participação",
                "operationId": "434a134e7c017ff6e272ee1b561b2db0",
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Participação apenas declinada"
                    }
                }
            }
        },
        "/api/quotation/{token}/attachments/{index}": {
            "get": {
                "tags": [
                    "Link Público (Email)"
                ],
                "summary": "Descarregar Anexo do Pedido de Cotação",
                "description": "Permite ao fornecedor descarregar um documento anexado ao pedido de cotação. Acesso via token do email, sem autenticação necessária.",
                "operationId": "53c31a381e1d8229db1711b8178aaace",
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "description": "Token de acesso do fornecedor (enviado por email)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "index",
                        "in": "path",
                        "description": "Índice do anexo na lista de documentos (começa em 0)",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Documento retornado com sucesso",
                        "content": {
                            "application/pdf": {},
                            "application/msword": {},
                            "application/vnd.openxmlformats-officedocument.wordprocessingml.document": {},
                            "image/jpeg": {},
                            "image/png": {}
                        }
                    },
                    "404": {
                        "description": "Anexo ou ficheiro não encontrado"
                    }
                }
            }
        },
        "/api/supplier/register/{token}": {
            "post": {
                "tags": [
                    "Registo Público (Email)"
                ],
                "summary": "Completar Registo de Fornecedor",
                "description": "Permite ao fornecedor preencher os dados e concluir o registo iniciado pelo convite.",
                "operationId": "25b5c8af93911eabd605638622090e83",
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "company_name",
                                    "phone",
                                    "nif",
                                    "activity_type",
                                    "province",
                                    "municipality",
                                    "commercial_certificate",
                                    "nif_proof",
                                    "categories"
                                ],
                                "properties": {
                                    "company_name": {
                                        "type": "string"
                                    },
                                    "phone": {
                                        "type": "string"
                                    },
                                    "nif": {
                                        "type": "string"
                                    },
                                    "activity_type": {
                                        "type": "string"
                                    },
                                    "province": {
                                        "type": "string"
                                    },
                                    "municipality": {
                                        "type": "string"
                                    },
                                    "address": {
                                        "type": "string"
                                    },
                                    "commercial_certificate": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "commercial_license": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "nif_proof": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "pacto_social": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "non_debtor_certificate_agt": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "non_debtor_certificate_inss": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "product_list": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "categories": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Registo concluído com sucesso"
                    },
                    "422": {
                        "description": "Erro de validação"
                    },
                    "404": {
                        "description": "Token inválido"
                    }
                }
            }
        },
        "/api/quotation-requests": {
            "get": {
                "tags": [
                    "Cotações (Requests)"
                ],
                "summary": "Listar pedidos de cotação",
                "operationId": "63bc7da0c32e3fdb013c08a388781067",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "draft",
                                "sent",
                                "in_progress",
                                "completed",
                                "cancelled"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de pedidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Cotações (Requests)"
                ],
                "summary": "Criar novo pedido de cotação",
                "description": "Cria um novo pedido de cotação com itens, fornecedores convidados e documentos anexados opcionais. O pedido é criado com status 'draft'.",
                "operationId": "48926bbe3d0e3fa3185d75bb1e414711",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "title",
                                    "deadline",
                                    "suppliers"
                                ],
                                "properties": {
                                    "title": {
                                        "description": "Título do pedido de cotação",
                                        "type": "string",
                                        "example": "Aquisição de Mobiliário"
                                    },
                                    "description": {
                                        "description": "Descrição detalhada do pedido",
                                        "type": "string",
                                        "example": "Mobiliário para novo escritório"
                                    },
                                    "activity_description": {
                                        "description": "Descrição da actividade",
                                        "type": "string",
                                        "example": "Aquisição de bens e serviços"
                                    },
                                    "deadline": {
                                        "description": "Data limite para envio de propostas",
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2026-02-01 17:00:00"
                                    },
                                    "suppliers": {
                                        "description": "IDs dos fornecedores convidados",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": [
                                            1,
                                            2
                                        ]
                                    },
                                    "attachments[]": {
                                        "description": "Documentos anexados ao pedido (PDF, DOC, DOCX, JPG, PNG, XLSX, XLS — máx 10MB cada)",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Pedido criado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "reference_number": {
                                            "type": "string"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "activity_description": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "draft"
                                        },
                                        "attachments": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "path": {
                                                        "type": "string"
                                                    },
                                                    "original_name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "nullable": true
                                        },
                                        "suppliers": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/quotation-requests/{id}": {
            "post": {
                "tags": [
                    "Cotações (Requests)"
                ],
                "summary": "Atualizar pedido de cotação",
                "description": "Atualiza um pedido de cotação em rascunho. Permite alterar título, descrição, prazo e adicionar novos documentos anexados. Use _method=PUT para uploads.",
                "operationId": "f869d44b61a637772996d19e6c50bdc0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do pedido de cotação",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "_method": {
                                        "description": "Necessário para upload de arquivos em PUT",
                                        "type": "string",
                                        "example": "PUT"
                                    },
                                    "title": {
                                        "description": "Título do pedido",
                                        "type": "string",
                                        "example": "Aquisição de Mobiliário"
                                    },
                                    "description": {
                                        "description": "Descrição detalhada",
                                        "type": "string"
                                    },
                                    "activity_description": {
                                        "description": "Descrição da actividade",
                                        "type": "string"
                                    },
                                    "deadline": {
                                        "description": "Novo prazo limite",
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "attachments[]": {
                                        "description": "Novos documentos a anexar (serão adicionados aos existentes). PDF, DOC, DOCX, JPG, PNG, XLSX, XLS — máx 10MB cada.",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Pedido atualizado com sucesso"
                    },
                    "400": {
                        "description": "Apenas cotações em rascunho podem ser editadas"
                    },
                    "422": {
                        "description": "Erro de validação"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Cotações (Requests)"
                ],
                "summary": "Remover cotação ou solicitar exclusão",
                "description": "Admin remove diretamente se for rascunho (204). Não-admin cria pedido de exclusão pendente para aprovação (201).",
                "operationId": "8642b6ac2eff85b492ffa03edbb5b9fd",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "reason": {
                                        "description": "Motivo/justificativa (obrigatório para não-admin)",
                                        "type": "string",
                                        "example": "Cotação duplicada"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Cotação removida diretamente (admin, apenas rascunho)"
                    },
                    "201": {
                        "description": "Pedido de exclusão criado (não-admin)"
                    },
                    "400": {
                        "description": "Apenas cotações em rascunho podem ser excluídas diretamente"
                    },
                    "409": {
                        "description": "Já existe um pedido pendente para esta cotação"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/quotation-requests/{id}/send": {
            "post": {
                "tags": [
                    "Cotações (Requests)"
                ],
                "summary": "Enviar convites aos fornecedores",
                "description": "Dispara e-mails para todos os fornecedores convidados com status 'pending'.",
                "operationId": "a45faecab0c42c5e1d81f4e908654362",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Convites enviados"
                    },
                    "400": {
                        "description": "Erro (apenas rascunhos podem ser enviados)"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/quotation-requests/{id}/cancel": {
            "post": {
                "tags": [
                    "Cotações (Requests)"
                ],
                "summary": "Cancelar pedido de cotação",
                "operationId": "fdf8bd5d50743d10bc49154a3ca569c0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cancelado com sucesso"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/quotation-responses": {
            "get": {
                "tags": [
                    "Negociação & Revisão"
                ],
                "summary": "Listar Respostas",
                "operationId": "a83ffe4946cf337a0be3a594b5c04423",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "quotation_request_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de respostas"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/quotation-responses/{id}": {
            "get": {
                "tags": [
                    "Negociação & Revisão"
                ],
                "summary": "Detalhes da Resposta",
                "operationId": "2c341ed2657150fe1b7e32443119da80",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalhes"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/quotation-responses/{id}/approve": {
            "post": {
                "tags": [
                    "Negociação & Revisão"
                ],
                "summary": "Aprovar Proposta",
                "operationId": "86323686c1b5c849254eda155910ffc9",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "notes": {
                                        "type": "string",
                                        "example": "Aprovado, excelente preço"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Aprovado com sucesso"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/quotation-responses/{id}/reject": {
            "post": {
                "tags": [
                    "Negociação & Revisão"
                ],
                "summary": "Rejeitar Proposta",
                "operationId": "ebe781e4641956910b7e927f9c50298f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "notes": {
                                        "type": "string",
                                        "example": "Preço muito alto"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Rejeitado com sucesso"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/quotation-responses/{id}/request-revision": {
            "post": {
                "tags": [
                    "Negociação & Revisão"
                ],
                "summary": "Solicitar Revisão",
                "description": "Solicita ao fornecedor uma revisão da proposta (Gera novo token).",
                "operationId": "a1627525d8f074534ba60b020c81b143",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "reason",
                                    "message"
                                ],
                                "properties": {
                                    "reason": {
                                        "type": "string",
                                        "example": "Preço"
                                    },
                                    "message": {
                                        "type": "string",
                                        "example": "Por favor, reveja o preço unitário do item 2."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Solicitação enviada"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/quotation-responses/{id}/create-acquisition": {
            "post": {
                "tags": [
                    "Negociação & Revisão"
                ],
                "summary": "Gerar Aquisição",
                "description": "Gera uma aquisição a partir de uma proposta aprovada.",
                "operationId": "82423805408d6510cec79d20b328ad24",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "expected_delivery_date"
                                ],
                                "properties": {
                                    "expected_delivery_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-03-01"
                                    },
                                    "justification": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Aquisição criada"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/reports/summary": {
            "get": {
                "tags": [
                    "Relatórios"
                ],
                "summary": "Relatório Executivo",
                "description": "Retorna métricas consolidadas por período (semanal, mensal, anual)",
                "operationId": "5a13a6f0c1345da72a7953fde093ec90",
                "parameters": [
                    {
                        "name": "period",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "monthly",
                            "enum": [
                                "weekly",
                                "monthly",
                                "yearly"
                            ]
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dados do relatório"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/suppliers": {
            "get": {
                "tags": [
                    "Fornecedores"
                ],
                "summary": "Listar fornecedores",
                "description": "Retorna uma lista paginada de fornecedores com filtros opcionais.",
                "operationId": "43efd859bdde27a9e53c0afbe0891731",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Busca por nome ou NIF",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "activity_type",
                        "in": "query",
                        "description": "Filtro por tipo de atividade",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista recuperada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "company_name": {
                                                        "type": "string"
                                                    },
                                                    "nif": {
                                                        "type": "string"
                                                    },
                                                    "email": {
                                                        "type": "string"
                                                    },
                                                    "is_active": {
                                                        "type": "boolean"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Fornecedores"
                ],
                "summary": "Criar novo fornecedor",
                "description": "Regista um novo fornecedor com dados cadastrais, categorias e documentos obrigatórios/opcionais.",
                "operationId": "c1ee06af9e1f197a4aa49c1dd74c981c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "company_name",
                                    "email",
                                    "phone",
                                    "nif",
                                    "activity_type",
                                    "province",
                                    "municipality",
                                    "address",
                                    "commercial_certificate",
                                    "nif_proof"
                                ],
                                "properties": {
                                    "company_name": {
                                        "description": "Nome da empresa",
                                        "type": "string",
                                        "example": "Empresa Exemplo SA"
                                    },
                                    "email": {
                                        "description": "Email do fornecedor (único)",
                                        "type": "string",
                                        "format": "email",
                                        "example": "contato@exemplo.ao"
                                    },
                                    "phone": {
                                        "description": "Telefone de contacto",
                                        "type": "string",
                                        "example": "+244923456789"
                                    },
                                    "alt_phone": {
                                        "description": "Telefone alternativo",
                                        "type": "string",
                                        "example": "+244923456788"
                                    },
                                    "nif": {
                                        "description": "NIF do fornecedor (único)",
                                        "type": "string",
                                        "example": "5001234567"
                                    },
                                    "activity_type": {
                                        "description": "Tipo de atividade da empresa",
                                        "type": "string",
                                        "enum": [
                                            "Serviços",
                                            "Comércio Geral",
                                            "Tecnologia",
                                            "Construção",
                                            "Consultoria",
                                            "Transporte",
                                            "Saúde",
                                            "Outros"
                                        ]
                                    },
                                    "province": {
                                        "description": "Província",
                                        "type": "string",
                                        "example": "Luanda"
                                    },
                                    "municipality": {
                                        "description": "Município",
                                        "type": "string",
                                        "example": "Belas"
                                    },
                                    "address": {
                                        "description": "Endereço completo",
                                        "type": "string",
                                        "example": "Rua das Acácias, 12"
                                    },
                                    "commercial_certificate": {
                                        "description": "Certificado Comercial (PDF/JPG/PNG, máx 5MB) — Obrigatório",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "commercial_license": {
                                        "description": "Alvará Comercial (PDF/JPG/PNG, máx 5MB) — Opcional",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "nif_proof": {
                                        "description": "Comprovativo de NIF (PDF/JPG/PNG, máx 5MB) — Obrigatório",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "pacto_social": {
                                        "description": "Pacto Social (PDF/JPG/PNG, máx 5MB) — Opcional",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "non_debtor_certificate_agt": {
                                        "description": "Certificado de Não Devedor AGT (PDF/JPG/PNG, máx 5MB) — Opcional",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "non_debtor_certificate_inss": {
                                        "description": "Certificado de Não Devedor INSS (PDF/JPG/PNG, máx 5MB) — Opcional",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "product_list": {
                                        "description": "Lista de Produtos (PDF/JPG/PNG, máx 5MB) — Opcional",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "categories": {
                                        "description": "IDs das categorias associadas ao fornecedor",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Fornecedor criado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "company_name": {
                                            "type": "string"
                                        },
                                        "email": {
                                            "type": "string"
                                        },
                                        "nif": {
                                            "type": "string"
                                        },
                                        "is_active": {
                                            "type": "boolean"
                                        },
                                        "commercial_certificate_url": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "commercial_license_url": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "nif_proof_url": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "pacto_social_url": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "non_debtor_certificate_agt_url": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "non_debtor_certificate_inss_url": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "product_list_url": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "categories": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/suppliers/{id}/classification": {
            "get": {
                "tags": [
                    "Fornecedores"
                ],
                "summary": "Obter Classificação do Fornecedor",
[...]
